<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Deklarasi Izin (Permissions) -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- TAMBAHAN: Permission untuk Notifikasi (Android 13+) -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <!-- Deklarasi Fitur (Opsional untuk Kamera) -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/launcer_lingoquest"
        android:label="@string/app_name"
        android:roundIcon="@drawable/launcer_lingoquest"
        android:supportsRtl="true"
        android:theme="@style/Theme.LingoQuest"
        tools:targetApi="31">

        <!-- Daftar Semua Aktivitas -->
        <activity
            android:name=".AdminActivity"
            android:exported="false" />
        <activity
            android:name=".BelajarActivity"
            android:exported="false" />
        <activity
            android:name=".GameActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".PeringkatActivity"
            android:exported="false" />
        <activity
            android:name=".ProfilActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".TantanganActivity"
            android:exported="false" />
        <activity
            android:name=".ListeningActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ReadingActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ListeningLevelActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ReadingLevelActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <!-- FileProvider untuk mendukung akses kamera dan penyimpanan gambar -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.lingoquest.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>
</manifest>